<a href="https://colab.research.google.com/github/anitha200/python-new/blob/main/module_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Reg Ex in python
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [2]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [3]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [5]:
## split at each white space character
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [6]:
import re 
text = "hi i want to go to movie"
x = re.search ("go",txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

No match

In [10]:
## find all
import re
text = "hi i want to go to movie"
x = re.findall("i", txt)
print(x)

['i', 'i', 'i']

In [12]:
## sub function
import re
txt =  "my name is anithaa and i am studying  1st year cse in gitam unversity "
x = re.sub("\s", "9", txt)
print(x)

my9name9is9anithaa9and9i9am9studying991st9year9cse9in9gitam9unversity9

In [14]:
## #Replace the first two occurrences of a white-space character with the digit 9:
import re
text =  "my name is anithaa and i am studying  1st year cse in gitam unversity"
x = re.sub("\s", "9", txt, 2)
print(x)

my9name9is anithaa and i am studying  1st year cse in gitam unversity

In [17]:
# Meta characters
## Check if the string starts with 'hello':
import re
txt = "Venezuela has a crime index of 77.76, the highest of any country in the world."
x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

No match

In [19]:
#Find all lower case characters alphabetically between "a" and "m":
import re
txt = "Venezuela has a crime index of 73.76, the highest of any country in the world."
x = re.findall("[a-m]", txt)
print(x)

['e', 'e', 'e', 'l', 'a', 'h', 'a', 'a', 'c', 'i', 'm', 'e', 'i', 'd', 'e', 'f', 'h', 'e', 'h', 'i', 'g', 'h', 'e', 'f', 'a', 'c', 'i', 'h', 'e', 'l', 'd']

In [21]:
## find all digit characters
import re
txt = "Venezuela has a crime index of 73.76, the highest of any country in the world."
x = re.findall("\d", txt)
print(x)

['7', '3', '7', '6']

In [23]:
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
import re
txt = "anitha"
x = re.findall("an..ha", txt)
print(x)

['anitha']

In [26]:
#Check if the string ends with 'planet':
import re
txt = "hello planet"
x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [28]:
#Check if the string ends with 'planet':
import re
txt = "hello planet"
x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [30]:
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
import re
txt = "hello planet"
x = re.findall("he.*o", txt)
print(x)

['hello']

In [32]:
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o": 
import re
txt =  "planet"
x = re.findall("pla.et", txt)
print(x)

['planet']

In [34]:
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
import re
txt = "hello planet"
x = re.findall("he.?o", txt)
print(x)

[]

In [36]:
#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
import re
txt = "hello planet"
x = re.findall("he.{2}o", txt)
print(x)

['hello']

In [38]:
#Check if the string contains either "falls" or "stays":
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("falls|stays", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

In [40]:
### special sequences
#Check if the string starts with "The":
import re
txt = "The rain in Spain"
x = re.findall("\AThe", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!

In [42]:
#Check if "ain" is present at the beginning of a WORD:
import re
txt = "The rain in Spain"
x = re.findall(r"\bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [44]:
#Check if "ain" is present at the beginning of a WORD:
import re
txt = "I love rain"
x = re.findall(r"\bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [46]:
#Check if "ain" is present, but NOT at the beginning of a word:
import re
txt = "my name is anithaa"
x = re.findall(r"\Bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [48]:
#Check if the string contains any digits (numbers from 0-9):
import re
txt = "my name is anithaa"
x = re.findall("\d", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [50]:
#Return a match at every no-digit character:
import re
txt = "my name is anitha"
x = re.findall("\D", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'a', 'n', 'i', 't', 'h', 'a']
Yes, there is at least one match!

In [52]:
#Return a match at every white-space character:
import re
txt = "i love icecreams"
x = re.findall("\s", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ']
Yes, there is at least one match!

In [54]:
#Return a match at every NON white-space character:
import re
txt = "The rain in Spain"
x = re.findall("\S", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [56]:
#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):
import re
txt = "The rain in Spain"
x = re.findall("\W", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [58]:
#Check if the string ends with "Spain":
import re
txt = "my name is aniotha"
x = re.findall("aqnitha\Z", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

[]
No match

In [60]:
## sets
#Check if the string has any a, r, or n characters:
import re
txt = "rain"
x = re.findall("[arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n']
Yes, there is at least one match!

In [62]:
#Check if the string has any characters between a and n:
import re
txt = "anitha"
x = re.findall("[a-n]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['a', 'n', 'i', 'h', 'a']
Yes, there is at least one match!

In [64]:
#Check if the string has other characters than a, r, or n:
import re
txt = "ankitha"
x = re.findall("[^arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['k', 'i', 't', 'h']
Yes, there is at least one match!

In [66]:
#Check if the string has any 0, 1, 2, or 3 digits:
import re
txt = "my name is anitha"
x = re.findall("[0123]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [68]:
#Check if the string has any digits:
import re
txt = "8 times before 10;00 AM"
x = re.findall("[0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['8', '1', '0', '0', '0']
Yes, there is at least one match!

In [69]:
#Check if the string has any two-digit numbers, from 00 to 59:
import re
txt = "8 times before 11:00 AM"
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['11', '00']
Yes, there is at least one match!

In [71]:
#Check if the string has any two-digit numbers, from 00 to 59:
import re
txt = "8 times before 10:00 AM"
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['10', '00']
Yes, there is at least one match!

In [73]:
#Check if the string has any characters from a to z lower case, and A to Z upper case:
import re
txt = "8 times before 10:00 AM"
x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

In [75]:
#Check if the string has any + characters:
import re
txt = "8 times before 10:45 AM"
x = re.findall("[+]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [77]:
## Findall Function
import re
txt = "Spain"
x = re.findall("ai", txt)
print(x)

['ai']

In [79]:
## Return an empty list if no match was found:
import re
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [81]:
## sub function
import re
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [83]:
## Replace the first 2 occurrences:
import re
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [85]:
## Match function
import re
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [87]:
## Print the position (start- and end-position) of the first match occurrence.
import re
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [89]:
## Print the string passed into the function:
import re
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [90]:
## Print the part of the string where there was a match.
import re
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain