<a href="https://colab.research.google.com/github/anitha200/python-new/blob/module-2/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Create a function which accepts two inputs from the user and compute nCr
def nCr(c,d):
 return (fact(c)/(fact(d)
               *fact(c-d)))
c=int(input(""))
d=int(input(""))
def fact(c):
    res=1
    for i in range(2,c+1):
      res=res*i
    return res
print(int(nCr(c,d)))

4
2
6

In [ ]:
##Program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
colors = ["Red", "Green", "White", "Black", "Pink", "Yellow"]
del colors[0]
del colors[3]
del colors[3]
print(colors)

['Green', 'White', 'Black']

In [ ]:
##Program to get the difference between the two lists.  \\error
colors = ["Red", "Green", "White", "Black", "Pink", "Yellow","orange","blue"]
rainbow = ["Red", "Green", "White", "Black", "Pink", "Yellow","brown"]
a=set(colors)
b=set(rainbow)
c1=a.difference(b)
c2=b.difference(a)
print(c1)
print(c2)

{'blue', 'orange'}
{'brown'}

In [ ]:
##Program to find the second smallest number and second largest number in a list.
numbers=[55,22,5,1,99,20]
numbers.sort()
print(numbers)
print("2nd smallest number is:",numbers[2])
print("2nd largest number is:",numbers[len(numbers)-2])

[1, 5, 20, 22, 55, 99]
2nd smallest number is: 20
2nd largest number is: 55

In [ ]:
##Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number
num1=[272,16,17,14,4]
num2=[]
for i in num1:
  x=(i,i**2)
  num2.append(x)
  print("required list is:",num2)

required list is: [(272, 73984)]
required list is: [(272, 73984), (16, 256)]
required list is: [(272, 73984), (16, 256), (17, 289)]
required list is: [(272, 73984), (16, 256), (17, 289), (14, 196)]
required list is: [(272, 73984), (16, 256), (17, 289), (14, 196), (4, 16)]

In [ ]:
##Given list of tuples, remove all the tuples with length K.
#Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
#Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
#Explanation : (4, 5) of len = 2 is removed.
list1 = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
list2=[]
k=2
for b in list1:
  if len(b)!=k:
    list2.append(b)
    print("without containing any element of tupple of length '2':",list2 )

without containing any element of tupple of length '2': [(4,)]
without containing any element of tupple of length '2': [(4,), (8, 6, 7)]
without containing any element of tupple of length '2': [(4,), (8, 6, 7), (1,)]
without containing any element of tupple of length '2': [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [ ]:
##Program to generate and print a dictionary that contains a number (between 1and n) in the form (x, x*x).
#Sample Input: (n=5) :
#Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
my_numbers=dict()
a=int(input("enter a number"))
for i in range(1,a+1):
  my_numbers.update({i:i**2})
print("the numbers is:",my_numbers)

enter a number7
the numbers is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
##Program to remove a key from a dictionary
watch =  {
 "brand":"fossil",
 "model":"hybrid smart",
 "year":1890
}

del watch["model"]
print(watch)

{'brand': 'fossil', 'year': 1890}

In [ ]:
##Program to get the maximum and minimum value in a dictionary
my_numbers={
    "l":272,
    "a":16,
    "s":17,
    "i":14,
}
max_value=max(my_numbers, key=my_numbers.get)
min_value=min(my_numbers, key=my_numbers.get)
print("The maximum value in the given numbers has a key:'"+max_value+"' and its value is:",my_numbers[max_value])
print("The minimum value in the given numbers has a key:'"+min_value+"' and its value is:",my_numbers[min_value])

The maximum value in the given numbers has a key:'l' and its value is: 272
The minimum value in the given numbers has a key:'i' and its value is: 14

In [ ]:
##Program to perform operations on string using unicodes ,splitting of string,accessingelements of string using locations
my_string=input("enter a string: ")
print(my_string.split())
print(my_string[7:20])

enter a string: this is anitha from srikakulam
['this', 'is', 'anitha', 'from', 'srikakulam']
 anitha from

In [ ]:
##Program for Counting occurrence of a certain element in a string, getting indexes thathave matching elements.For ex -.In Rabbit count how many times b has occurred .
#Example-I have to go to a doctor and get myself checked. Count the number of
animal1="piggy"
print(animal1.count("g"))
string="have to go to a doctor and get myself checked"
print(string.count("e"))

2
5

In [ ]:
##Program for replacing one substring by another For example - Rabbit - Replace "bb" by "cc"
animal1="piggy"
animal2=animal1.replace("gg","kk")
print(animal2)

pikky

In [ ]:
##Program to Acronym generator for any user input (ex-input is Random memory access
#then output should be RMA).Example - Random number (RN)
string=input("enter the string")
x=string.split()
for i in x:
  print(i[0],end="")

enter the stringsocial stides
ss

In [ ]:
##Python function that accepts a string and calculates the number of uppercaseletters and lowercase letters
string="I Love my Sister in this WORLD"
count_1=0
count_2=0
for i in string:
    if i.isupper():
      count_1+=1
    elif i.islower():
     count_2+=1
    else:
      pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

No.of uppercase alphabets are:  8
No.of lowercase alphabets are:  16

In [ ]:
##Program to count the number of strings where the string length is 2 or more and
#the first and last character are same from a given list of strings 
Sample_List = [  "uuv ", "aba","1996","mom","17","nvgfrt36"]
count=0
for i in Sample_List:
 if len(i)>=2:
   if i[0]==i[len(i)-1]:
    print(i)
 count+=1
print(count)

aba
mom
6