<a href="https://colab.research.google.com/github/anitha200/python-new/blob/main/module_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## Reg Ex in python
import re

txt = "The rain in Spain"
x = re.findall("paris", txt)
print(x)

[]

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [2]:
import re

txt = "The rain in Spain"
x = re.search("Paris", txt)
print(x)

None

In [6]:
## Split function
(## makes no return match)
import  re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

SyntaxError: ignored

In [ ]:
## split at each white space character
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
text = "hi i want to go to movie"

In [ ]:
import re 
text = "hi i want to go to movie"
x = re.search ("go",txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

No match

In [ ]:
## find all
import re
text = "hi i want to go to movie"
x = re.findall("i", txt)
print(x)

['i', 'i', 'i']

In [ ]:
import re
text = "my name is mounika and i am studying  1st year cse in gitam unversity "
x = re.findall("Portugal", text)
print(x)

[]

In [ ]:
## sub function
import re
txt =  "my name is mounika and i am studying  1st year cse in gitam unversity "
x = re.sub("\s", "9", txt)
print(x)

my9name9is9mounika9and9i9am9studying991st9year9cse9in9gitam9unversity9

In [ ]:
## #Replace the first two occurrences of a white-space character with the digit 9:
import re
text =  "my name is mounika and i am studying  1st year cse in gitam unversity"
x = re.sub("\s", "9", txt, 2)
print(x)

my9name9is mounika and i am studying  1st year cse in gitam unversity

In [ ]:
# Meta characters
## Check if the string starts with 'hello':
import re
txt = "Venezuela has a crime index of 83.76, the highest of any country in the world."
x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

No match

In [ ]:
#Find all lower case characters alphabetically between "a" and "m":
import re
txt = "Venezuela has a crime index of 83.76, the highest of any country in the world."
x = re.findall("[a-m]", txt)
print(x)

['e', 'e', 'e', 'l', 'a', 'h', 'a', 'a', 'c', 'i', 'm', 'e', 'i', 'd', 'e', 'f', 'h', 'e', 'h', 'i', 'g', 'h', 'e', 'f', 'a', 'c', 'i', 'h', 'e', 'l', 'd']

In [ ]:
## find all digit characters
import re
txt = "Venezuela has a crime index of 83.76, the highest of any country in the world."
x = re.findall("\d", txt)
print(x)

['8', '3', '7', '6']

In [ ]:
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
import re
txt = "mounika"
x = re.findall("mou..ka", txt)
print(x)

['mounika']

In [ ]:
#Check if the string ends with 'planet':
import re
txt = "hello planet"
x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [ ]:
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
import re
txt = "hello planet"
x = re.findall("he.*o", txt)
print(x)

['hello']

In [ ]:
#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o": 
import re
txt =  "planet"
x = re.findall("pla.et", txt)
print(x)

['planet']

In [ ]:
#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":
import re
txt = "hello planet"
x = re.findall("he.?o", txt)
print(x)

[]

In [ ]:
#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
import re
txt = "hello planet"
x = re.findall("he.{2}o", txt)
print(x)

['hello']

In [ ]:
#Check if the string contains either "falls" or "stays":
import re
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("falls|stays", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

In [ ]:
### special sequences
#Check if the string starts with "The":
import re
txt = "The rain in Spain"
x = re.findall("\AThe", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!

In [ ]:
#Check if "ain" is present at the beginning of a WORD:
import re
txt = "The rain in Spain"
x = re.findall(r"\bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
#Check if "ain" is present at the beginning of a WORD:
import re
txt = "I love rain"
x = re.findall(r"\bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
#Check if "ain" is present, but NOT at the beginning of a word:
import re
txt = "my name is mounika"
x = re.findall(r"\Bain", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
#Check if the string contains any digits (numbers from 0-9):
import re
txt = "my name is mounika"
x = re.findall("\d", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
#Return a match at every no-digit character:
import re
txt = "my name is mounika"
x = re.findall("\D", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'm', 'o', 'u', 'n', 'i', 'k', 'a']
Yes, there is at least one match!

In [ ]:
#Return a match at every white-space character:
import re
txt = "i love icecreams"
x = re.findall("\s", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ']
Yes, there is at least one match!

In [ ]:
#Return a match at every NON white-space character:
import re
txt = "The rain in Spain"
x = re.findall("\S", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [ ]:
#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):
import re
txt = "The rain in Spain"
x = re.findall("\W", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [ ]:
#Check if the string ends with "Spain":
import re
txt = "my name is mounika"
x = re.findall("mounika\Z", txt)
print(x)
if x:
  print("Yes, there is a match!")
else:
  print("No match")

['mounika']
Yes, there is a match!

In [ ]:
## sets
#Check if the string has any a, r, or n characters:
import re
txt = "rain"
x = re.findall("[arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n']
Yes, there is at least one match!

In [ ]:
#Check if the string has any characters between a and n:
import re
txt = "mounika"
x = re.findall("[a-n]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['m', 'n', 'i', 'k', 'a']
Yes, there is at least one match!

In [ ]:
#Check if the string has other characters than a, r, or n:
import re
txt = "earnings"
x = re.findall("[^arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['e', 'i', 'g', 's']
Yes, there is at least one match!

In [ ]:
#Check if the string has any 0, 1, 2, or 3 digits:
import re
txt = "my name is mounika"
x = re.findall("[0123]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
#Check if the string has any digits:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['8', '1', '1', '4', '5']
Yes, there is at least one match!

In [ ]:
#Check if the string has any two-digit numbers, from 00 to 59:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['11', '45']
Yes, there is at least one match!

In [ ]:
#Check if the string has any characters from a to z lower case, and A to Z upper case:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

In [ ]:
#Check if the string has any + characters:
import re
txt = "8 times before 11:45 AM"
x = re.findall("[+]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
## Findall Function
import re
txt = "Spain"
x = re.findall("ai", txt)
print(x)

['ai']

In [ ]:
## Return an empty list if no match was found:
import re
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [ ]:
## sub function
import re
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
## Replace the first 2 occurrences:
import re
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [ ]:
## Match function
import re
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [ ]:
## Print the position (start- and end-position) of the first match occurrence.
import re
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [ ]:
## Print the string passed into the function:
import re
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [ ]:
## Print the part of the string where there was a match.
import re
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain